#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_install:
	dh_install
	rm -rf debian/python3-cairo/usr/lib/python*/*-packages/cairo/include/py3cairo.h

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=meson --with python3
